{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}All articles{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="{{ url_for('main_page') }}" class="logic-buttons">Go Back</a>

{% for curr_article in articles %}
    <h1>{{ curr_article.title }}</h1>
    <a href="{{ curr_article.url }}">original</a>
    <button type="button" class="collapsible">Text</button>
    <div class="content">
        <span style="white-space: pre-line">{{ curr_article.content }}</span>
    </div>
{% endfor %}

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>
{% endblock %}
